
@{
    ViewBag.Title = "List";
}
<style type="text/css">
    .table {
        table-layout: fixed;
        word-break: break-all;
    }
</style>
<div class="row mb-5">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="lead">
                            高级查询
                        </p>
                        <form action="" id="registration-form">
                            <div class="form-group">
                                <label for="RealName" class="active">姓名</label>
                                <input type="text" class="form-control" id="RealName" name="RealName" data-validation="RealName" placeholder="Enter RealName">
                            </div>

                            <div class="form-group">
                                <label for="Carmodel" class="active">车型</label>
                                <input type="text" class="form-control" name="Carmodel" id="Carmodel" data-validation="length alphanumeric"
                                       data-validation-length="3-12"
                                       data-validation-error-msg="LoginName has to be an alphanumeric value (3-12 chars)" placeholder="Carmodel">
                            </div>
                            <button id="validate" type="button" class="btn btn-primary">Validate</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-5">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                TestDrive Management
            </div>
            <div class="card-body" style="width:1220px">
                <div class="table-responsive">
                    <div id="toolbar" class="btn-group">
                        <button id="btn_add" type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增预约
                        </button>
                        <button id="btn_del" type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-delete" aria-hidden="true"></span>删除
                        </button>
                    </div>
                    <table id="tbList" class="table"></table>
                </div>
            </div>

        </div>
    </div>
</div>


<script>
        $('#tbList').bootstrapTable({

            method: 'post',
            contentType: "application/x-www-form-urlencoded",//必须要有！！！！
            url: "/T_Base_Testdrive/getlistByPage",//要请求数据的文件路径


            showRefresh: true,//刷新按钮
            showColumns: true,
            striped: true, //是否显示行间隔色

            search: true,
            strictSearch: true,


            //showExport: true,
            //exportTypes: ['excel', 'xlsx'],	   //导出类型
            //exportOptions: {
            //    fileName: '用户导出',              //文件名称设置
            //    worksheetName: 'Sheet1',          //表格工作区名称
            //    tableName: '用户表',
            //    excelstyles: ['background-color', 'color', 'font-size', 'font-weight'],
            //},
            //exportDataType: "basic",

            toolbarAlign: 'left',//工具栏对齐方式
            buttonsAlign: 'right',//按钮对齐方式
            toolbar: '#toolbar',//指定工作栏

            pageNumber: 1, //初始化加载第一页，默认第一页
            pagination: true,//是否分页
            sidePagination: 'server',//指定服务器端分页
            pageSize: 5,//单页记录数
            pageList: [5, 10, 15,"all"],//分页步进值

            sortName: "Id", //默认排序字段
            sortOrder: "asc", //排序方式
            queryParamsType: "",//limit方式,或默认方式
            queryParams: function (params) {
                var tempPageSize;
                if (params.pageSize == undefined) {
                    tempPageSize = this.totalRows;
                } else {
                    tempPageSize = params.pageSize;
                }
                var tempPageNumber;
                if (params.pageNumber == undefined) {
                    tempPageNumber = 1;
                } else {
                    tempPageNumber = params.pageNumber;
                }
                return {
                    pageSize: tempPageSize,//页大小
                    pageNumber: tempPageNumber,//页码
                    search: params.searchText,
                    RealName: $("#RealName").val(),
                    Carmodel: $("#Carmodel").val(),
                    sortName: params.sortName,
                    sortOrder: params.sortOrder
                }
            },
            columns: [
                {
                    title: '全选',
                    field: 'select',
                    //复选框
                    checkbox: true,
                    width: 25,
                    align: 'center',
                    valign: 'middle'
                },
                {
                    title: 'Id',
                    field: 'Id',
                    sortable: true,
                    width: '60%'
                },
                {
                    title: '车型',
                    formatter: function (value, row, index) {
                        return [
                            row.Car.Carmodel +' '+ row.Car.Modeldetail
                        ].join('');
                    },
                    width: '180%',
                    //sortable: true,
                    editable: true
                },

                {
                    title: '预约时间',
                    formatter: function (value, row, index) {
                        var timeSpan = row.Dtime.replace('Date', '').replace('(', '').replace(')', '').replace(/\//g, '');
                        var d = new Date(parseInt(timeSpan));
                        return d.toLocaleDateString();
                    },
                    width: '100%',
                    sortable: true,
                    editable: true

                },             
                {
                    title: '姓名',
                    field: 'User.RealName',
                    editable: true,
                    visible: true,
                    width: '90%'
                },
                {
                    title: '手机号',
                    field: 'User.Phonenumber',
                    editable: true,
                    visible: true,
                    width: '100%'
                },
                {
                    title: '处理状况',
                    width: '80%',
                    formatter: function (value, row, index) {
                        if (row.DealSituation == 0) {
                            return [
                                '<span class="badge badge-danger">待处理</span>',
                            ].join('');
                        }
                        else if (row.DealSituation == 1) {
                            return [
                                '<span class="badge badge-success">已处理</span>',
                            ].join('');
                        }
                        else if (row.DealSituation == 2) {
                            return [
                                '<span class="badge badge-primary">已完成</span>',
                            ].join('');
                        }
                    },
                    sortable: false,
                    editable: true

                },
                {
                    title: '处理人',
                    field: 'DealPerson',
                    editable: true,
                    visible: true,
                    width: '100%'
                },
                {
                    title: '操作',
                    width: '150%',
                    formatter: function (value, row, index) {
                        return [
                            '<button id="bind" type="button" class="btn btn-default btn-sm">删除</button>',
                            '<button id="unbind" type="button" class="btn btn-default btn-sm">编辑</button>',
                        ].join('');
                    },
                    events: {
                        "click #bind": function (e, value, row, index) {
                            del(row.Id);
                        },
                        "click #unbind": function (e, value, row, index) {
                            edit(row.Id);
                        }
                    }

                }
            ],

        });
        $("#validate").click(function () {
            //parent.document["tblist"].$table.bootstrapTable('refresh')
            $("#tbList").bootstrapTable('refresh');
        });

    function del(id) {
            $.ajax({

                type: "post",
                url: "/T_Base_Testdrive/Delete",
                dataType: "json",
                data: { id: id},
                success: function (result) {
                    //****
                    if (result.code == 1) {
                        //刷新

                        $('#tbList').bootstrapTable('remove', {
                            field: "Id",
                            values: [parseInt(id)]
                        });
                        // location.reload();
                    } else
                        alert("删除失败");
                },
                error: function () {
                    alert("通讯失败");
                }


            });
        }


        $("#btn_del").click(function () {

            var ids = $.map(
                $('#tbList').bootstrapTable('getSelections'),
                function (row) { return row.Id }
            );
            if (ids.length == 0) {
                alert("未选中");
                return;
            }
            var oldids = ids;
            ids = ids.join(",");
            $.ajax({

                type: "post",
                url: "/T_Base_Testdrive/Deletes",
                dataType: "json",
                data: { ids: ids},
                success: function (result) {
                    //****
                    if (result.code == 1) {
                        //刷新

                        for (i = 0; i < oldids.length; i++) {
                            $('#tbList').bootstrapTable('remove', {
                                field: "Id",
                                values: [parseInt(oldids[i])]
                            });
                        }

                        // $("#tbList").bootstrapTable('refresh', { url: '/user/list2' });

                        //location.reload();
                    } else
                        alert("删除失败");
                },
                error: function () {
                    alert("通讯失败");
                }


            });
        });

        function edit(id) {
            window.location.href = "/T_Base_Testdrive/edit?id=" + id;
        }
        $("#btn_add").click(function () {
            window.location.href = "/T_Base_Testdrive/add";
        })
</script>


