
@{
    ViewBag.Title = "Add";
}


<div class="row">
        <div class="col-md-12">
            <h1>新增用户</h1>
        </div>
</div>
<div class="row mb-5">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="lead">
                                Click "Validate" below to see the validation in action
                            </p>
                            <form action="" id="formAdd">
                                <div class="form-group">
                                    <label for="LoginName" class="active">用户名</label>
                                    <input type="text" class="form-control" name="LoginName" id="LoginName" data-validation="length alphanumeric"
                                    data-validation-length="3-12"
                                    data-validation-error-msg="Username has to be an alphanumeric value (3-12 chars)" placeholder="LoginName">
                                </div>

                                <div class="form-group">
                                    <label for="password1" class="active">密码</label>
                                    <input type="password" class="form-control" id="PWD" name="PWD" data-validation="strength" placeholder="Password">
                                </div>

                                <div class="form-group">
                                <label for="realname" class="active">真实姓名</label>
                                <input type="text" class="form-control" name="RealName" id="RealName" placeholder="RealName">
                                </div>

                                <div class="form-group">
                                <label for="email" class="active">电子邮箱</label>
                                <input type="email" class="form-control" id="Email" name="Email" data-validation="Email" placeholder="Enter Email">
                                </div>

                                <div class="form-group">
                                    <label for="phonenumber" class="active">手机号</label>
                                    <input type="text" class="form-control" name="Phonenumber" id="Phonenumber" placeholder="Phonenumber">
                                </div>

                                <div class="form-group">
                                    <label class="layui-form-label">用户类型</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text" for="inputGroupSelect01">Options</label>
                                        </div>
                                        <select class="custom-select" name="Type" id="inputGroupSelect01" lay-verify="required">
                                            <option selected>Choose...</option>
                                            <option value="2">会员用户</option>
                                            <option value="1">普通用户</option>
                                            <option value="0">管理员</option>
                                        </select>
                                    </div>
                                    
                                </div>
                                <button id="validate" type="button" class="btn btn-primary" onclick="AddSave()">Validate</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="row mb-5">
        <div class="col-md-12">
            <footer>
                Powered by - <a href="http://base5builder.com/?click_source=quillpro_footer_link" target="_blank" style="font-weight:300;color:#ffffff;background:#1d1d1d;padding:0 3px;">Base<span style="color:#ffa733;font-weight:bold">5</span>Builder</a>
            </footer>
        </div>
</div>

<script type="text/javascript">
        function serializeObject(form) {
            var o = {};
            var a = $(form).serializeArray();
            $.each(a, function () {
                if (o[this.name]) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };
        function AddSave() {

            //序列化form
            var data = serializeObject("#formAdd");

            $.ajax({

                type: "post",

                dataType: "json",

                url: "/T_Base_User/addsave",

                data: JSON.stringify(data),

                contentType: "application/json;charset=utf-8",

                success: function (result) {
                    if (result.code == 1) {
                        alert(result.message);
                        window.location.href = "List";
                        //self.parent.x_tab_reload("T_Base_Book_List");
                        //self.parent.x_tab_delete("addbook");
                        //self.parent.x_tab_reload("T_Base_Book_List");

                        //处理
                    } else {
                        alert(message);
                        //处理错误
                    }

                },
                 error: function (msg) {
                    alert('通讯失败');
                }
            });
        }
</script>
