@{
    ViewBag.Title = "Contact";
}
<div class="row mb-5">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="col-md-12 mb-5">
                    <div class="jumbotron">
                        <h1 class="display-1">
                            <img src="http://img1.xcarimg.com/PicLib/logo/bl88_160s.png" />
                            保时捷4S中心
                        </h1>   
                        <h2>公司介绍</h2>
                        <hr class="my-4">                      
                        <h3>
                            嘉兴保时捷中心是奥地利保时捷控股在中国投资的第8家保时捷中心，是一家外商独资的保时捷4S店，位于汽车商贸园核心地段，于2014年6月10日正式开业。

                            嘉兴保时捷中心占地约8200平方米， 拥有可容纳17台展车的展厅，12个维修工位和8个钣金喷漆工位，以及最专业的销售和售后团队。

                            新车购买及售后服务热线：0573-82888911.
                        </h3>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-md-4 mb-5">
                        <div class="card">
                            <div class="card-header">
                                Tips
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">保时捷4S中心</h4>
                                <p class="card-text">地址：温州市瓯海区茶山校区：温州市茶山高教园区（325035）</p>
                                <p class="card-text">联系电话：400823823</p>
                                <a href="/img/mymap.html" class="btn btn-primary waves-effect waves-light">查看地图</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <div class="card text-center">
                            <div class="card-header">
                                地图
                            </div>
                            <div class="card-body">
                                <iframe src="/img/smallmap.html" width="400" height="200" frameborder="0" scrolling="no"></iframe>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <div class="card text-right">
                            <div class="card-header">
                                销售顾问
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">扫描二维码咨询</h4>
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="~/Img/msg.png" />
                                        <h5>扫一扫咨询</h5>
                                    </div>
                                    <div class="col-md-6">
                                        <img src="~/Img/people.png" style="width:96px;height:96px" />
                                        <h5>毛利兰</h5>
                                    </div>
                                </div>

                            </div>
                            <div class="card-footer text-muted">
                                2 days ago
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>