@{
    ViewBag.Title = "Home Page";
    List<_4S.Model.T_Base_Car> lst = ViewBag.lst;
}

<div class="row mb-5">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="col-md-12 mb-5">
                    <div class="jumbotron">
                        <h1 class="display-1">
                            <img src="http://img1.xcarimg.com/PicLib/logo/bl88_160s.png" />
                            保时捷4S中心
                        </h1>
                        <p class="lead">
                            主营品牌保时捷
                        </p>
                        <hr class="my-4">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-secondary" onclick="Jumpto718()">718</button>
                            <button type="button" class="btn btn-secondary" onclick="Jumpto911()">911</button>
                            <button type="button" class="btn btn-secondary" onclick="JumptoCayenne()">Cayenne</button>
                            <button type="button" class="btn btn-secondary" onclick="JumptoMacan()">Macan</button>
                            <button type="button" class="btn btn-secondary" onclick="JumptoPanamera()">Panamera</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mb-5">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a href="/home/list#v-pills-718">
                                    <img class="d-block img-fluid" src="https://files.porsche.cn/filestore/galleryimagerwd/multimedia/none/jdp-2016-982-718-c7-gallery-exterior-07/zoom2/de8c3f5b-43c4-11e8-bbc5-0019999cd470;sP;twebp/porsche-zoom2.webp" alt="First slide" style="width:1368px;height:700px">
                                </a>
                                <div class="carousel-caption d-none d-md-block">
                                    <h2 class="text-light">保时捷718</h2>
                                    <p class="text-light">Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <a href="/home/list#v-pills-911">
                                    <img class="d-block img-fluid" src="/Img/car2.png" alt="Second slide" style="width:1368px;height:700px">
                                </a>                               
                                <div class="carousel-caption d-none d-md-block">
                                    <h2 class="text-light">保时捷911</h2>
                                    <p class="text-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <a href="/home/list#v-pills-Panamera">
                                    <img class="d-block img-fluid" src="https://files.porsche.cn/filestore/galleryimagerwd/multimedia/none/970-g2-4s-gallery-exterior-10/zoom2/88177941-a6aa-11e6-be88-0019999cd470;sP;twebp/porsche-zoom2.webp" alt="Third slide" style="width:1368px;height:700px">
                                    </a>
                                    <div class="carousel-caption d-none d-md-block">
                                        <h2 class="text-light">保时捷Panamera</h2>
                                        <p class="text-light">Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                                    </div>
                            </div>
                            <div class="carousel-item">
                                <a href="/home/list#v-pills-Macan">
                                    <img class="d-block img-fluid" src="/Img/car4.png" alt="Fourth slide" style="width:1368px;height:700px">
                                </a>                               
                                <div class="carousel-caption d-none d-md-block">
                                    <h2 class="text-light">保时捷Macan</h2>
                                    <p class="text-light">Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <a href="/home/list#v-pills-Cayenne">
                                    <img class="d-block img-fluid" src="/Img/car5.png" alt="Fifth slide" style="width:1368px;height:700px">
                                </a>                               
                                <div class="carousel-caption d-none d-md-block">
                                    <h2 class="text-light">保时捷Cayenne</h2>
                                    <p class="text-light">Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <i class="batch-icon batch-icon-arrow-left batch-icon-lg"></i>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <i class="batch-icon batch-icon-arrow-right batch-icon-lg"></i>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>

                <div class="col-md-12 mb-5">
                    <div class="row mb-5 pb-5 clearfix qp-gallery-two">
                        <div class="col-md-12">
                            <h2>推荐车型</h2>
                        </div>
                        @{
                            foreach (var item in lst)
                            {
                                <div class="col-sm-6 col-md-4 mb-5">
                                    <div class="card lightbox">
                                        <a href="/home/detail?id=@item.Id">
                                            <img class="card-img-top" src="@item.Image" alt="Gallery Image 1">
                                        </a>
                                        <div class="card-body">
                                            <h4 class="card-title">@item.Carmodel @item.Modeldetail</h4>
                                            <h4 class="card-title">
                                                <em>@item.Brand</em>
                                                <span style="color:red;float:right">¥@item.Price 万</span>
                                            </h4>
                                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-md-4 mb-5">
                        <div class="card">
                            <div class="card-header">
                                Tips
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">保时捷4S中心</h4>
                                <p class="card-text">地址：温州市瓯海区茶山校区：温州市茶山高教园区（325035）</p>
                                <p class="card-text">联系电话：400823823</p>
                                <a href="/img/mymap.html" class="btn btn-primary waves-effect waves-light">查看地图</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <div class="card text-center">
                            <div class="card-header">
                                地图
                            </div>
                            <div class="card-body">
                                <iframe src="/img/smallmap.html" width="400" height="200" frameborder="0" scrolling="no"></iframe>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <div class="card text-right">
                            <div class="card-header">
                                销售顾问
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">扫描二维码咨询</h4>
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="~/Img/msg.png" />
                                        <h5>扫一扫咨询</h5>
                                    </div>
                                    <div class="col-md-6">
                                        <img src="~/Img/people.png" style="width:96px;height:96px" />
                                        <h5>毛利兰</h5>
                                    </div>
                                </div>

                            </div>
                            <div class="card-footer text-muted">
                                2 days ago
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function Jumpto718() {
        window.location.href = "list#v-pills-718";
    }
    function Jumpto911() {
        window.location.href = "list#v-pills-911";
    }
    function JumptoCayenne() {
        window.location.href = "list#v-pills-Cayenne";
    }
    function JumptoMacan() {
        window.location.href = "list#v-pills-Macan";
    }
    function JumptoPanamera() {
        window.location.href = "list#v-pills-Panamera";
    }
</script>