
@{
    ViewBag.Title = "SignUp";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/img/favicon.png">

    <title>QuillPro - Bootstrap 4 Dashboard Template</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&amp;subset=latin-ext" rel="stylesheet">

    <!-- CSS - REQUIRED - START -->
    <!-- Batch Icons -->
    <link rel="stylesheet" href="/quillpro/assets/fonts/batch-icons/css/batch-icons.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/quillpro/assets/css/bootstrap/bootstrap.min.css">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="/quillpro/assets/css/bootstrap/mdb.min.css">
    <!-- Custom Scrollbar -->
    <link rel="stylesheet" href="/quillpro/assets/plugins/custom-scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- Hamburger Menu -->
    <link rel="stylesheet" href="/quillpro/assets/css/hamburgers/hamburgers.css">

    <!-- CSS - REQUIRED - END -->
    <!-- CSS - OPTIONAL - START -->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/quillpro/assets/fonts/font-awesome/css/font-awesome.min.css">

    <!-- CSS - DEMO - START -->
    <link rel="stylesheet" href="/quillpro/assets/demo/css/ui-icons-batch-icons.css">
    <!-- CSS - DEMO - END -->
    <!-- CSS - OPTIONAL - END -->
    <!-- QuillPro Styles -->
    <link rel="stylesheet" href="/quillpro/assets/css/quillpro/quillpro.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="right-column sisu" >
                <div class="row mx-0">
                    <div class="col-md-7 order-md-2 signin-right-column px-5 bg-dark" style="background-image:url(/quillpro/assets/img/bg-image-2.jpg)">
                        <a class="signin-logo d-sm-block d-md-none" href="#">
                            <img src="/quillpro/assets/img/logo-white.png" width="145" height="32.3" alt="QuillPro">
                        </a>
                        <h1 class="display-4">Sign Up For An Account Today</h1>
                        <p class="lead mb-5">
                            Big data latte SpaceTeam unicorn cortado hacker physical computing paradigm.
                        </p>
                    </div>
                    <div class="col-md-5 order-md-1 signin-left-column bg-white" style="padding:100px;">
                        <a class="signin-logo d-sm-none d-md-block" href="#">
                            <img src="/quillpro/assets/img/logo-dark.png" width="145" height="32.3" alt="QuillPro">
                        </a>
                        <form action="" id="formAdd">
                            <div class="form-group">
                                <label for="LoginName">LoginName</label>
                                <input type="text" class="form-control" id="LoginName" name="LoginName" placeholder="LoginName">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" name="PWD" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword2">Confirm Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <label for="RealName">RealName</label>
                                <input type="text" class="form-control" id="RealName" name="RealName" placeholder="RealName">
                            </div>
                            <div class="form-group">
                                <label for="Phonenumber">PhoneNumber</label>
                                <input type="text" class="form-control" id="Phonenumber" name="Phonenumber" placeholder="Phonenumber">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" name="Email" aria-describedby="emailHelp" placeholder="Enter email">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <button type="button" class="btn btn-primary btn-gradient btn-block" onclick="AddSave()">
                                <i class="batch-icon batch-icon-quill"></i>
                                Sign Up
                            </button>
                            <hr>
                            <p class="text-center">
                                Already Have An Account? <a href="/home/signin">Sign In here</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function serializeObject(form) {
            var o = {};
            var a = $(form).serializeArray();
            $.each(a, function () {
                if (o[this.name]) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };
        function AddSave() {

            //序列化form
            var data = serializeObject("#formAdd");
            console.log(JSON.stringify(data));
            var password1 = document.getElementById("exampleInputPassword1").value;
            var password2 = document.getElementById("exampleInputPassword2").value;
            if (password1 != password2) {
                alert("两次密码不同，请重新输入！");
            }
            else {
                console.log("11111");
                $.ajax({

                    type: "post",

                    dataType: "json",

                    url: "/T_Base_User/SignUpSave",

                    data: JSON.stringify(data),

                    contentType: "application/json;charset=utf-8",

                    success: function (result) {
                        if (result.code == 1) {
                            alert(result.message);
                            window.location.href = "SignIn";                           
                        } else {
                            alert(result.message);
                            //处理错误
                        }
                    },
                    error: function (msg) {
                        alert('通讯失败');
                    }
                });
            }
            
        }
    </script>

    <!-- SCRIPTS - REQUIRED START -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Bootstrap core JavaScript -->
    <!-- JQuery -->
    <script type="text/javascript" src="/quillpro/assets/js/jquery/jquery-3.1.1.min.js"></script>
    <!-- Popper.js - Bootstrap tooltips -->
    <script type="text/javascript" src="/quillpro/assets/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/quillpro/assets/js/bootstrap/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/quillpro/assets/js/bootstrap/mdb.min.js"></script>
    <!-- Velocity -->
    <script type="text/javascript" src="/quillpro/assets/plugins/velocity/velocity.min.js"></script>
    <script type="text/javascript" src="/quillpro/assets/plugins/velocity/velocity.ui.min.js"></script>
    <!-- Custom Scrollbar -->
    <script type="text/javascript" src="/quillpro/assets/plugins/custom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- jQuery Visible -->
    <script type="text/javascript" src="/quillpro/assets/plugins/jquery_visible/jquery.visible.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script type="text/javascript" src="/quillpro/assets/js/misc/ie10-viewport-bug-workaround.js"></script>

    <!-- SCRIPTS - REQUIRED END -->
    <!-- SCRIPTS - OPTIONAL START -->
    <!-- Image Placeholder -->
    <script type="text/javascript" src="/quillpro/assets/js/misc/holder.min.js"></script>
    <!-- SCRIPTS - OPTIONAL END -->
    <!-- QuillPro Scripts -->
    <script type="text/javascript" src="/quillpro/assets/js/scripts.js"></script>
</body>
</html>

