
@{
    ViewBag.Title = "List";
}

<style type="text/css">
    .table {
        table-layout: fixed;
        word-break: break-all;
    }
</style>
<div class="row mb-5">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="lead">
                            高级查询
                        </p>
                        <form action="" id="registration-form">
                            <div class="form-group">
                                <label for="Brand" class="active">品牌</label>
                                <input type="text" class="form-control" id="Brand" name="Brand" data-validation="Email" placeholder="Enter Brand">
                            </div>

                            <div class="form-group">
                                <label for="Name" class="active">商品名称</label>
                                <input type="text" class="form-control" name="Name" id="Name" data-validation="length alphanumeric"
                                       data-validation-length="3-12"
                                       data-validation-error-msg="LoginName has to be an alphanumeric value (3-12 chars)" placeholder="Name">
                            </div>
                            <button id="validate" type="button" class="btn btn-primary">Validate</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row mb-5">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                CarPart Management
            </div>
            <div class="card-body" style="width:1220px">
                <div class="table-responsive">
                    <div id="toolbar" class="btn-group">
                        <button id="btn_add" type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增配件
                        </button>
                        <button id="btn_del" type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-delete" aria-hidden="true"></span>删除
                        </button>
                    </div>
                    <table id="tbList" class="table"></table>
                </div>
            </div>

        </div>
    </div>
</div>


<script>
        $('#tbList').bootstrapTable({

            method: 'post',
            contentType: "application/x-www-form-urlencoded",//必须要有！！！！
            url: "/T_Base_CarPart/getlistByPage",//要请求数据的文件路径


            showRefresh: true,//刷新按钮
            showColumns: true,
            striped: true, //是否显示行间隔色

            search: true,
            strictSearch: true,


            //showExport: true,
            //exportTypes: ['excel', 'xlsx'],	   //导出类型
            //exportOptions: {
            //    fileName: '用户导出',              //文件名称设置
            //    worksheetName: 'Sheet1',          //表格工作区名称
            //    tableName: '用户表',
            //    excelstyles: ['background-color', 'color', 'font-size', 'font-weight'],
            //},
            //exportDataType: "basic",

            toolbarAlign: 'left',//工具栏对齐方式
            buttonsAlign: 'right',//按钮对齐方式
            toolbar: '#toolbar',//指定工作栏

            pageNumber: 1, //初始化加载第一页，默认第一页
            pagination: true,//是否分页
            sidePagination: 'server',//指定服务器端分页
            pageSize: 5,//单页记录数
            pageList: [5, 10, 15,"all"],//分页步进值

            sortName: "Id", //默认排序字段
            sortOrder: "asc", //排序方式
            queryParamsType: "",//limit方式,或默认方式
            queryParams: function (params) {
                var tempPageSize;
                if (params.pageSize == undefined) {
                    tempPageSize = this.totalRows;
                } else {
                    tempPageSize = params.pageSize;
                }
                var tempPageNumber;
                if (params.pageNumber == undefined) {
                    tempPageNumber = 1;
                } else {
                    tempPageNumber = params.pageNumber;
                }
                return {
                    pageSize: tempPageSize,//页大小
                    pageNumber: tempPageNumber,//页码
                    search: params.searchText,
                    Brand: $("#Brand").val(),
                    Name: $("#Name").val(),
                    sortName: params.sortName,
                    sortOrder: params.sortOrder
                }
            },
            columns: [
                {
                    title: '全选',
                    field: 'select',
                    //复选框
                    checkbox: true,
                    width: 25,
                    align: 'center',
                    valign: 'middle'
                },
                {
                    title: 'Id',
                    field: 'Id',
                    sortable: true,
                    width: '70%'
                },

                {
                    title: '配件名称',
                    field: 'Name',
                    width: '150%',
                    sortable: true,
                    editable: true

                },
                {
                    title: '品牌',
                    field: 'Brand',
                    width: '100%',
                    sortable: true,
                    editable: true
                },
                {
                    title: '价格',
                    field: 'Price',
                    width:'100%',
                    sortable: true,
                    editable: true

                },
                {
                    title: '库存',
                    field: 'Stock',
                    width: '70%',
                    sortable: true,
                    editable: true

                },
                {
                    title: '适用车型',
                    field: 'Applicable',
                    width: '180%',
                    sortable: true,
                    editable: true

                },
                {
                    title: '备注',
                    field: 'Note',
                    width:'180%'
                },
                {
                    title: '图片',
                    formatter: function (value, row, index) {
                        return [
                            '<a href=' + row.Picture + '><img src=' + row.Picture + ' width="44" height="44" /></a>'
                        ].join('');
                    },
                    width: '120%'
                },
                {
                    title: '操作',
                    width: '150%',
                    formatter: function (value, row, index) {
                        //var delHtml = '<a onclick="del(' + row.Id + ')">删除</a>';
                        //var editHtml = '<a onclick="edit(' + row.Id + ')">编辑</a>';
                        //return delHtml + " | " + editHtml;
                        return [
                            '<button id="bind" type="button" class="btn btn-default btn-sm">删除</button>',
                            '<button id="unbind" type="button" class="btn btn-default btn-sm">编辑</button>',
                        ].join('');
                    },
                    events: {
                        "click #bind": function (e, value, row, index) {
                            del(row.Id);
                        },
                        "click #unbind": function (e, value, row, index) {
                            edit(row.Id);
                        }
                    }

                }
            ],

        });
        $("#validate").click(function () {
            //parent.document["tblist"].$table.bootstrapTable('refresh')
            $("#tbList").bootstrapTable('refresh');
        });


    function del(id) {
            $.ajax({

                type: "post",
                url: "/T_Base_CarPart/Delete",
                dataType: "json",
                data: { id: id },
                success: function (result) {
                    //****
                    if (result.code == 1) {
                        //刷新

                        $('#tbList').bootstrapTable('remove', {
                            field: "Id",
                            values: [parseInt(id)]
                        });
                        // location.reload();
                    } else
                        alert("删除失败");
                },
                error: function () {
                    alert("通讯失败");
                }


            });
        }


        $("#btn_del").click(function () {

            var ids = $.map(
                $('#tbList').bootstrapTable('getSelections'),
                function (row) { return row.Id }
            );
            if (ids.length == 0) {
                alert("未选中");
                return;
            }
            var oldids = ids;
            ids = ids.join(",");
            $.ajax({

                type: "post",
                url: "/T_Base_CarPart/Deletes",
                dataType: "json",
                data: { ids: ids },
                success: function (result) {
                    //****
                    if (result.code == 1) {
                        //刷新

                        for (i = 0; i < oldids.length; i++) {
                            $('#tbList').bootstrapTable('remove', {
                                field: "Id",
                                values: [parseInt(oldids[i])]
                            });
                        }


                        // $("#tbList").bootstrapTable('refresh', { url: '/user/list2' });

                        //location.reload();
                    } else
                        alert("删除失败");
                },
                error: function () {
                    alert("通讯失败");
                }


            });
        });

        function edit(id) {
            window.location.href = "/T_Base_CarPart/edit?id=" + id;
        }
        $("#btn_add").click(function () {
            window.location.href = "/T_Base_CarPart/add";
        })
</script>


